In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from google.colab import files
import io
%matplotlib inline

In [ ]:
uploaded = files.upload()

Saving Incident_2021.xlsx to Incident_2021.xlsx

In [ ]:
df = pd.read_excel(io.BytesIO(uploaded['Incident_2021.xlsx']))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Number                  715 non-null    object
 1   Assigned to             715 non-null    object
 2   Created                 715 non-null    datetime64[ns]
 3   Description             715 non-null    object
 4   Resolved                715 non-null    datetime64[ns]
 5   Classification level 2  653 non-null    object
 6   Created by              715 non-null    object
 7   Short description       715 non-null    object
dtypes: datetime64[ns](2), object(6)
memory usage: 44.8+ KB

In [ ]:
df['Classification level 2'].value_counts()

Misc Tasks                                         127
Request Tracker                                    108
Production Monitoring                              102
FRICE Tracker                                       77
Purchase Order                                      46
Invoice Ingestion                                   36
Journal Entry                                       31
Stamp & Pay                                         23
Auto Write-Off                                      15
One Timer                                           14
ECAR                                                14
Pre- Payment                                        11
Auto Pay Sampling                                    9
Customer Master                                      8
Emergency Payment                                    5
SharePoint                                           5
OTIS K2 Global Worflow NAA Purchase Requisition      4
Policy Deviation                                     4
Payee Control                                        2
QlikView                                             2
Deployment                                           2
NAA Supplier Add Change                              2
OTIS K2 Global Worflow QlikView Access Request       1
Vendor Master Maintenance                            1
Professional Services Request                        1
Vendor Master                                        1
Customer Refund                                      1
Deutschland Workflow                                 1
Name: Classification level 2, dtype: int64

In [ ]:
df.head()

       Number  ...                                  Short description
0  INC3866790  ...                      PD K2 Environment Validation
1  INC3866878  ...        Operation Activity - Environment Validation
2  INC3866920  ...                       PD K2 Environment Validation
3  INC3866938  ...                 Operation Activity -ENv Validation
4  INC3866997  ...  Operation Support  - Environment validation on...

[5 rows x 8 columns]

In [ ]:
df['TimetoResolve'] = df['Resolved'] - df['Created']

In [ ]:
from datetime import datetime,timezone

x=df['Created'][2]

#date = datetime.fromtimestamp(df['Created'][5])
x.strftime("%Z")
now = datetime.now()
firststart = now.replace(hour=7, minute=0, second=0, microsecond=0)
secondstart = now.replace(hour=14, minute=0, second=0, microsecond=0)
thirdstart = now.replace(hour=23, minute=0, second=0, microsecond=0)
if (x.time() > firststart.time() ):
  if (x.time()<secondstart.time()):
    print ("First Shift")
  else:
    print("Second Shift")
else:
  print("Third Shift")

Second Shift

In [ ]:
int(x.strftime("%U"))%4

0

In [ ]:
print(x)
format = "%Y-%m-%d %H:%M:%S %Z%z"
from pytz import timezone
timezone = timezone("UTC")
x = timezone.localize(x)
print(x.strftime(format))

2021-01-02 14:23:28
2021-01-02 14:23:28 UTC+0000

In [ ]:
y = x.astimezone(timezone('Asia/Kolkata'))

print(y.strftime(format))

TypeError: ignored

In [ ]:
months = list()
days = list()
shifts = list()
weeks =list()

def transform_date(date: list):
  for dates in date:
    day= dates.strftime("%A")
    month= dates.strftime("%B")
    week = int(dates.strftime("%U"))%4
    now = datetime.now()
    firststart = now.replace(hour=7, minute=0, second=0, microsecond=0)
    secondstart = now.replace(hour=14, minute=0, second=0, microsecond=0)
    thirdstart = now.replace(hour=23, minute=0, second=0, microsecond=0)
    if (dates.time() > firststart.time() ):
      if (dates.time()< secondstart.time()):
        shifts.append(1)
      else:
        shifts.append(2)
    else:
      shifts.append(3)
    days.append(day)
    weeks.append(week)
    months.append(month)

transform_date(df['Created'])

In [ ]:
df['Week '] = weeks
df['Month'] =months
df['shifts'] =shifts
df['Day'] =days

In [ ]:
df.head()

       Number                Assigned to  ... shifts       Day
0  INC3866790       Nandigama Sai Swetha  ...      2    Friday
1  INC3866878                  Asha Sasi  ...      3  Saturday
2  INC3866920       Nandigama Sai Swetha  ...      2  Saturday
3  INC3866938                  Asha Sasi  ...      2  Saturday
4  INC3866997  Rameshbabu Chandrasekaran  ...      2    Sunday

[5 rows x 13 columns]

In [ ]:
df['shifts'].value_counts()

2    445
1    182
3     88
Name: shifts, dtype: int64

In [ ]:
df['Week '].value_counts()

1    220
3    185
2    170
0    140
Name: Week , dtype: int64

In [ ]:
df['Day'].value_counts()

Tuesday      143
Wednesday    143
Friday       142
Monday       131
Thursday     120
Sunday        20
Saturday      16
Name: Day, dtype: int64

In [ ]:
df['Month'].value_counts()

March       192
April       183
February    173
January     156
May          11
Name: Month, dtype: int64